@import "tailwindcss";

:root {
  --poppins: "Poppins", sans-serif;
  --brand: #082158;
  --background: #ffffff;
  --primary-text: #ffffff;
  --primary-brand: #20428c;
  --secondary-brand: #082158;
  --neutral: #475569;
}

@theme inline {
  --font-poppins: var(--poppins);
  --color-brand: var(--brand);
  --color-background: var(--background);
  --color-primary-text: var(--primary-text);
  --color-primary-brand: var(--primary-brand);
  --color-secondary-brand: var(--secondary-brand);
  --color-neutral: var(--neutral);
}

/* BASE STYLE */
@layer base {
  * {
    @apply box-border;
  }
  
  body {
    @apply font-poppins;
  }
}

/* COMPONENT SYTLES */
@layer components {
  .btn-primary {
    @apply bg-brand py-0.5 px-3 text-primary-text rounded-2xl;
  }
}
