@import "tailwindcss";

:root {
  --poppins: "Poppins", sans-serif;
  --brand: #082158;
  --secondary-brand: #20428C;
  --background: #ffffff;
  --primary-text: #ffffff;
  --neutral: #475569;
}

@theme inline {
  --font-poppins: var(--poppins);
  --color-brand: var(--brand);
  --color-secondary-brand: var(--secondary-brand);
  --color-background: var(--background);
  --color-primary-text: var(--primary-text);
  --color-neutral: var(--neutral);
}

/* BASE STYLE */
@layer base {
  body {
    @apply font-poppins;
  }
}

/* COMPONENT SYTLES */
@layer components {
  .btn-primary {
    @apply bg-brand py-3.5 px-4.5 text-primary-text rounded-4xl text-poppins;
  }

  .btn-secondary {
    @apply py-3.5 px-4.5 border-background border-3 rounded-4xl text-poppins;
  }
}
